*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: inherit;
}

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: gray;
    box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
    z-index: 10;
}

.welcome-section{
    height: 100vh;
}

@media only screen and (width: 768px) {

}